# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
    tags: ["v*"]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    # - name: Install uv
    #   uses: astral-sh/setup-uv@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install ruff build
    - name: Lint with ruff
      run: python -m ruff check .
    # - name: Test with pytest
    #   run: uv run pytest
    # - name: Test with pytest-cov
    #   run: uv run pytest --cov=ml_utils

  release-build:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      # - name: Install uv
      #   uses: astral-sh/setup-uv@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build

      - name: Build release distributions
        run: python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [test, release-build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    environment:
      name: pypi

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v5
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
